<a href="https://colab.research.google.com/github/HarshMartinTopno/MakemoreIG/blob/main/Makemore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = open("names.txt", 'r').read().splitlines()

In [ ]:
names[:5]

['emma', 'olivia', 'ava', 'isabella', 'sophia']

In [ ]:
hp = open("harry_potter_text.txt", 'r').read().splitlines()

In [ ]:
hp[:10]

['preprocessed_text',
 'THE BOY WHO LIVED Mr Mrs Dursley number',
 'four Privet Drive proud say perfectly normal',
 'thank much They last people youd expect',
 'involved anything strange mysterious didnt hold',
 'nonsense Mr Dursley director firm',
 'called Grunnings made drills He big beefy man',
 'hardly neck although large mustache Mrs',
 'Dursley thin blonde nearly twice usual amount',
 'neck came useful spent much']

In [ ]:
hp[1].split()

['THE', 'BOY', 'WHO', 'LIVED', 'Mr', 'Mrs', 'Dursley', 'number']

In [ ]:
# Creating a list containing words instead of sentences
words = []
for string in hp:
  for word in string.split():
    words.append(word)

In [ ]:
words[:10]

['preprocessed_text',
 'THE',
 'BOY',
 'WHO',
 'LIVED',
 'Mr',
 'Mrs',
 'Dursley',
 'number',
 'four']

In [ ]:
# saving the newly made list into a txt file
with open("hp_text.txt", "w") as output:
  output.write(str(words))

In [ ]:
# Checking the frequency of each word in 'names'
from collections import Counter
Counter(names).most_common(10)

[('emma', 2),
 ('olivia', 2),
 ('ava', 2),
 ('isabella', 2),
 ('sophia', 2),
 ('charlotte', 2),
 ('mia', 2),
 ('amelia', 2),
 ('harper', 2),
 ('evelyn', 2)]

In [ ]:
# Checking the frequency of each word in 'hp_text'
from collections import Counter
Counter(words).most_common(10)

[('Harry', 15942),
 ('said', 14343),
 ('I', 9877),
 ('Ron', 5568),
 ('He', 5073),
 ('Hermione', 4752),
 ('The', 3445),
 ('back', 3142),
 ('Dumbledore', 2787),
 ('could', 2753)]

In [ ]:
# making sure that the list contains only unique values
words = list(set(words))

In [ ]:
from collections import Counter
Counter(words).most_common(10)

[('plinth', 1),
 ('carousel', 1),
 ('unsafe', 1),
 ('distressing', 1),
 ('Nex', 1),
 ('bowtruckle', 1),
 ('WIN', 1),
 ('Goldstein', 1),
 ('Bills', 1),
 ('jacketed', 1)]